server:
  port: 8080

spring:
  application:
    name: captain

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

logging:
  level:
    com.captain: INFO
    org.springframework: INFO
